    <form class="form-horizontal" style="margin-top:20px;background:#fff;padding:20px 10px;">
        <div class="form-body">
            <div class="row">
     			<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">支持账户模值：</label>
                        <div class="col-md-8">
                            <input type="text" id="account.mod" class="form-control info" ng-model="info['account.mod']">
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">支持充值账户模值：</label>
                        <div class="col-md-8">
                            <input type="text" id="account.recharge.mod" class="form-control info" ng-model="info['account.recharge.mod']">
                        </div>
                    </div>
                </div>  
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">用户最大收货地址数：</label>
                        <div class="col-md-8">
                            <input type="text" id="address.maximum" class="form-control info" ng-model="info['address.maximum']" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">默认显示评价数：</label>
                        <div class="col-md-8">
                            <input type="text" id="default.evaluation.num" class="form-control info" ng-model="info['default.evaluation.num']" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">默认会员称号：</label>
                        <div class="col-md-8">
                            <input type="text" id="default.member.title" class="form-control info" ng-model="info['default.member.title']" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">资源地址前缀：</label>
                        <div class="col-md-8">
                            <input type="text" id="resource.path" class="form-control info" ng-model="info['resource.path']" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">资源url前缀：</label>
                        <div class="col-md-8">
                            <input type="text" id="resource.prefix" class="form-control info" ng-model="info['resource.prefix']" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


