<div class="tableToolbar">
    <div class="coll-md-9" id="addInput">
        <div class="coll-md-1">
            <input type="text" class='search' placeholder="订单号" ng-model="orderSearchEntity.id">
        </div>
        <div class="coll-md-1">
            <input type="text" class='search' placeholder="用户编号" ng-model="orderSearchEntity.recharger">
        </div>
        <div class="coll-md-1">
            <select class="form-control" ng-model="orderSearchEntity.os">
                <option disabled selected value="">操作系统</option>
                <option  data-ng-repeat="item in os" value="{{item.value}}">{{item.text}}</option>
            </select>
        </div>
        <div class="coll-md-1">
            <select class="form-control" ng-model="orderSearchEntity.goodsType">
                <option disabled selected value="">充值类型</option>
                <option  data-ng-repeat="item in goodsType" value="{{item.mark}}">{{item.text}}</option>
            </select>
        </div>
        <div class="coll-md-3 scalenone"  id="searchdate" datahide>
            <div class="coll-md-5" >
                <p class="input-group">
                    <input type="text" class="search" placeholder="开始时间" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="timeStart" is-open="popup1.opened" datepicker-options="dateOptions"/>
                    <span class="input-group-btn">
							            <button type="button" class="small-icon btn btn-default" ng-click="open1()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
							          </span>
                </p>
            </div>
            <div class="coll-md-5">
                <p class="input-group inline">
                    <input type="text" class="search" placeholder="结束时间" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="timeStop" is-open="popup2.opened" datepicker-options="dateOptions"/>
                    <span class="input-group-btn">
							            <button type="button" class="small-icon btn btn-default" ng-click="open2()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
							          </span>
                </p>
            </div>
        </div>
        <div class="coll-md-1">
            <input type="button" class="small-icon search2-icon" value="搜索" ng-click="search()">
            <input type="button" class="small-icon search2" value="搜索">
            <input type="button" class="small-icon reset-icon" reset-icon value="重置" ng-click="reset()">
            <input type="button" class="small-icon reset" value="重置">
            <div class="dropdown-menu-right">
            <input type="button" class="small-icon more-icon" value="更多" title='更多搜索项' id="more-icon" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <input type="button" class="small-icon more" value="更多">
            <ul class="dropdown-menu" style='margin-left:80px;' aria-labelledby="dropdownMenu2" more-search>
            <li><a href="javascript:;">日期搜索</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>编号</th>
        <th>操作系统</th>
        <th>金额</th>
        <th>充值用户</th>
        <th>充值类型</th>
        <th>充值时间</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in orderList">
        <td>{{item.id}}</td>
        <td>{{item.os | enumFilter:'os'}}</td>
        <td>{{item.amount | currency:'￥'}}</td>
        <td>{{item.recharger}}</td>
        <td>{{item.goodsType | enumFilter:'goodsType'}}</td>
        <td>{{item.created | timeFilter}}</td>
    </tr>
    </tbody>
</table>
<div style="width:100%;display:flex;align-content: center;justify-content:center;" ng-show="bigTotalItems > defaultPageSize">
    <uib-pagination first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" total-items="bigTotalItems" ng-model="page" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"  ng-change="changePages()"></uib-pagination>
</div>