<div class="tableToolbar">
    <div class="coll-md-9" id="addInput">
        <div class="coll-md-2">
            <input type="text" class='search' placeholder="商品名称" ng-model="name">
        </div>
        <div class="coll-md-4 scalenone"  id="searchdate" datahide>
            <div class="coll-md-5" >
                <p class="input-group">
                    <input type="text" class="search" placeholder="添加开始时间" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="beginTime" is-open="popup1.opened" datepicker-options="dateOptions"/>
                    <span class="input-group-btn">
							            <button type="button" class="small-icon btn btn-default" ng-click="open1()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
							          </span>
                </p>
            </div>
            <div class="coll-md-5">
                <p class="input-group inline">
                    <input type="text" class="search" placeholder="添加结束时间" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="endTime" is-open="popup2.opened" datepicker-options="dateOptions"/>
                    <span class="input-group-btn">
							            <button type="button" class="small-icon btn btn-default" ng-click="open2()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
							          </span>
                </p>
            </div>
        </div>
        <div class="coll-md-1">
            <input type="button" class="small-icon search2-icon" value="搜索" ng-click="search()">
            <input type="button" class="small-icon search2" value="搜索">
            <input type="button" class="small-icon reset-icon" reset-icon value="重置" ng-click="reset()">
            <input type="button" class="small-icon reset" value="重置">

            <!--<div class="dropdown-menu-right">-->
                <!--<input type="button" class="small-icon more-icon" value="更多" title='更多搜索项' id="more-icon" data-toggle="dropdown"-->
                       <!--aria-haspopup="true" aria-expanded="false">-->
                <!--<input type="button" class="small-icon more" value="更多">-->
                <!--<ul class="dropdown-menu" style='margin-left:80px;' aria-labelledby="dropdownMenu2" more-search>-->
                    <!--<li><a href="javascript:;">日期搜索</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
    <div class="coll-md-1">
        <input type="button" class="bttn pos-right"  ng-click="add()" value="新建">
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>商品名称</th>
        <th>商品描述</th>
        <th>原价</th>
        <th>普通会员价</th>
        <th>高级会员价</th>
        <th>排序号</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in goodsList">
        <td>{{item.name}}</td>
        <td>{{item.desc}}</td>
        <td>{{item.originalPrice}}</td>
        <td>{{item.generalPrice}}</td>
        <td>{{item.VIPPrice}}</td>
        <td>{{item.priority}}</td>
        <td ng-bind-html="item.state | enumFilter:'goodsState'"></td>
        <td>{{item.created | timeFilter}}</td>
        <td>
            <a ng-click="update(item)">编辑</a>
            <a ng-click="offShelves(item)" ng-if="item.state=='SALE'">下架</a>
            <a ng-click="offShelves(item)" ng-if="item.state=='OFF_SHELVES'">上架</a>
            <!--<a ng-click="delete(item.id)">删除</a>-->
        </td>
    </tr>
    </tbody>
</table>
<div style="width:100%;display:flex;align-content: center;justify-content:center;" ng-show="bigTotalItems > defaultPageSize">
<uib-pagination first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" total-items="bigTotalItems" ng-model="page" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"  ng-change="changePages()"></uib-pagination>
</div>

<!--新建弹窗-->
<modal title="添加" visible="addGoodsModal">
    <form class="form-horizontal" role="form" name="myForm" ng-submit="submit(myForm.$valid)" >
        <div class="form-body">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active" id="goodsInfo"><a  href="#item1" data-toggle="tab" id="goods">商品基础属性</a></li>
                <li id="uploadPic" style="display: none"><a href="#item2" data-toggle="tab" id="picTab">{{goods.name}}_图片上传</a></li>
            </ul>
            <div class="tab-content" style="margin-top:10px;">
                <!--商品基础属性-->
                <div class="tab-pane fade in active" id="item1" >
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="control-label col-md-4">商品名称:<strong class="error" ng-if="myForm.name.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" data-ng-model="goods.name" name="name" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="control-label col-md-4">排序号:<strong class="error" ng-if="myForm.priority.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" data-ng-model="goods.priority" name="priority" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="control-label col-md-4">库存:<strong class="error" ng-if="myForm.inventory.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" data-ng-model="goods.inventory" name="inventory" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="control-label col-md-4">原价:<strong class="error" ng-if="myForm.originalPrice.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" data-ng-model="goods.originalPrice" name="originalPrice" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="control-label col-md-4">普通会员价:<strong class="error" ng-if="myForm.generalPrice.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" data-ng-model="goods.generalPrice" name="generalPrice" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="control-label col-md-4">VIP价:<strong class="error" ng-if="myForm.VIPPrice.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" data-ng-model="goods.VIPPrice"  name="VIPPrice" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label  class="control-label col-md-2">描述:<strong class="error" ng-if="myForm.desc.$invalid">&nbsp;(必填)</strong></label>
                                <div class="col-md-10">
                                    <textarea class="form-control" data-ng-model="goods.desc" name="desc" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="buttonArea col-md-12" style="border:none">
                            <button type="submit" class="btn blue" ng-disabled="myForm.$invalid" ng-if="isAdd">下一步</button>
                            <button type="submit" class="btn blue" ng-disabled="myForm.$invalid" ng-if="!isAdd">提交</button>
                        </div>
                    </div>
                </div>
                <!--图片上传-->
                <div class="tab-pane fade" id="item2" >
                    <div class="col-md-12" data-ng-repeat-start="item in cfgGoodsResource" style="margin: 20px 0;font-size: 18px;background: #efeff5;padding: 10px 0">
                        <strong>{{item.name}} <span style="color: red">最多上传{{item.maximum}}张图片</span></strong>
                    </div>
                    <div class="row" data-ng-repeat-end>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="{{item.id}}" name="source" type="file" multiple
                                           onchange='angular.element(this).scope().fileChange(this)' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</modal>

